.image-group-container {
  width: 100%;
  margin: var(--margin-big);
  padding: 0 var(--margin-default);

  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.image-group-container.inverted {
  flex-direction: row-reverse;
}

.image-group-container.inverted .text-container {
  align-items: end;
}

.image-group-container.inverted .text-container .title,
.image-group-container.inverted .text-container .subtitle,
.image-group-container.inverted .text-container .description {
  text-align: right;
}

.image-container,
.text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  min-height: 100%;
  animation: slideInRight 1s forwards 0.1s;
  opacity: 0;
}

.image-group-container.inverted .image-container img {
  animation: slideInLeft 1s forwards 0.1s;
}

.text-container {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-height: 100%;
  overflow: hidden;
}

.text-container .title {
  width: 100%;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;

  text-align: left;

  opacity: 0;
  animation: fadeIn 1s forwards 0.25s;
}

.text-container .subtitle {
  width: 100%;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  opacity: 0;
  animation: fadeIn 1s forwards 0.35s;
  text-align: left;
}

.text-container .desc-container {
  width: 100%;
  margin-top: var(--margin-default);
}

.image-group-container .text-container .description {
  width: 100%;
  display: block;
  font-size: clamp(0.8rem, 2vw, 1rem);

  text-align: left;

  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
}
