:root {
  --background: #0f1121;
  --primary-color: #181e3a;
  --secondary-color: #21294f;
  --placeholder-color: #4f4f4f;
  --accent-color: #0071db;
  --text-color: #d6d6d6;
  --subtext-color: #7c7c7c;
  --input-color: #121324;
  --separator-color: #2e3945;
  --button-color: #004f9a;
  --button-hover: #00386c;
  --button-delete-hover: #ff5a5a;
  --error: #ff3a3a;
}

.lightmode {
  --background: #e0e0e0;
  --primary-color: #cbcbcb;
  --secondary-color: #ababab;
  --placeholder-color: #7f7f7f;
  --accent-color: #005bb5;
  --text-color: #1a1a1a;
  --subtext-color: #5a5a5a;
  --input-color: #d6d6d6;
  --separator-color: #b0b0b0;
  --button-color: #005bb5;
  --button-hover: #004494;
  --button-delete-hover: #e04a4a;
  --error: #e04a4a;
}
