.login-form {
  width: 35%;
  padding: var(--size-default);
  margin: var(--margin-big);

  background-color: var(--primary-color);

  border-radius: var(--border-radius-default);

  display: flex;
  flex-direction: column;
  gap: var(--size-default);

  animation: fadeIn 0.5s forwards ease-in-out;
  opacity: 0;
}

.login-form p {
  animation: fadeIn 0.5s forwards ease-in-out 0.35s;
  opacity: 0;

  text-align: center;
}
