.title-group-container {
  width: 100%;
  margin: var(--margin-big) 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title-container {
  width: 70%;
  text-align: center;
}

.title-container .title {
  font-size: 3rem;
  font-weight: 700;

  opacity: 0;
  animation: fadeIn 1s forwards 0.1s;
}

.title-container .subtitle {
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 1s forwards 0.25s;
}

.desc-container {
  width: 50%;
}

.desc-container .description {
  display: block;
  font-size: 1rem;

  text-align: center;

  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
}
